        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
        }
        /* search button */
        
        .form {
            position: relative;
            transition: all 1s;
            width: 40px;
            height: 40px;
            background: rgb(0, 0, 0);
            box-sizing: border-box;
            border-radius: 25px;
            border: 2px solid white;
            padding: 5px;
        }
        
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 36.5px;
            line-height: 30px;
            outline: 0;
            border: 0;
            display: none;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
        }
        
        .form:hover,
        .form:valid {
            width: 200px;
            cursor: pointer;
        }
        
        .form ::placeholder {
            color: white;
            text-transform: capitalize;
        }
        
        .form:hover input,
        .form:valid input {
            display: block;
            color: white;
            font-size: 1.5rem;
            background-color: #4d4b4b;
        }
        
        .form i {
            font-size: 2.7em;
            color: white;
            text-align: center;
            text-align: center;
            justify-content: center;
        }
        /* search button */
        
        .margin {
            margin-top: 4em;
        }
        
        .logo {
            width: 10em;
            height: 4em;
        }
        
        html {
            font-size: 62.5%
        }
        
        @media screen and (max-width: 800px) {
            .logo {
                width: 4em;
                height: 2em;
            }
            #menu li a {
                font-size: 2em !important;
            }
        }
        
        body {
            align-items: center;
            font-family: 'Poppins', sans-serif;
        }
        /* header css starts  */
        
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            padding: 1em 1em;
            align-items: center;
            box-shadow: 0 0 10px #85888C;
            background-color: #F5F6FA;
            position: sticky;
            top: 0;
        }
        
        #menu li a {
            text-decoration: none;
            color: #1E1E23;
            text-transform: capitalize;
            opacity: 2em;
            font-family: 'work sans', sans serif;
            font-size: 2.5em;
            font-weight: 400;
            transition: 200ms;
        }
        
        #menu li a:hover {
            opacity: 0.5;
        }
        
        #menu ul {
            list-style-type: none;
        }
        
        #menu ul li {
            padding: 0;
            list-style-type: none;
        }
        
        nav {
            background-color: #1E1E23;
            height: 65px;
        }
        
        #menuToggle {
            user-select: none;
        }
        
        #menuToggle input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
        }
        
        #menuToggle span {
            display: flex;
            width: 29px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: #000000;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
        }
        
        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        
        #menuToggle input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #000000;
        }
        
        #menuToggle input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        #menuToggle input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }
        
        #menu {
            position: absolute;
            width: 220px;
            height: 100vh;
            margin: -50px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            box-shadow: 0 0 10px #85888C;
            background-color: #F5F6FA;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
            -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
            -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
            -ms-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
            -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }
        
        #menu li {
            padding: 10px 0;
            transition-delay: 2s;
        }
        
        #menuToggle input:checked~ul {
            transform: none;
        }
        /* header css ends  */
        /* main css starts  */
        
        .home-layout {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 2em;
        }
        /* main css ends  */
        /* trending news starts  */
        
        .trending-news {
            display: grid;
            grid-template-columns: 1fr;
            overflow: hidden;
        }
        
        .top-trending {
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 1em;
            align-items: center;
            display: flex;
            gap: 2em;
            margin: 1em 15em;
        }
        
        .trending-text {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1em;
        }
        
        .trending-text h2 {
            font-size: 2.0em;
            text-transform: capitalize;
        }
        
        .trending-text div {
            margin-bottom: 1em;
        }
        
        .trending-img img {
            width: 300px;
            height: 300px;
        }
        /* trending quary starts */
        
        @media screen and (max-width: 800px) {
            .home-layout {
                margin-top: 2em;
            }
            .top-trending {
                background-color: rgb(0, 0, 0);
                color: white;
                width: 300px;
                padding: 1em;
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 1em;
                margin: 0 2em 1em 2em;
            }
            .trending-text {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
            }
            .trending-text div p {
                font-size: 0.6em;
                text-align: center;
            }
            .trending-text h2 {
                font-size: 1.0em;
                text-align: center;
                text-transform: capitalize;
            }
            .trending-img img {
                width: 120px;
                height: 120px;
            }
            .centerlize {
                align-items: center;
                display: flex;
                justify-content: center;
            }
        }
        /* trending quary ends */
        /* trending news ends */
        /* all stories starts */
        
        .all-stories-div-1-contnr {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        
        .all-stories {
            overflow: hidden;
            display: grid;
            margin: 2em 8em;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            justify-content: center;
        }
        
        .top-all-stories {
            display: flex;
            gap: 2em;
            justify-content: center;
        }
        
        .all-stories-img {
            width: 300px;
            height: 200px;
        }
        
        .top-all-stories div {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-right: 2em;
        }
        
        .top-all-stories div h2 {
            margin-top: 1em;
        }
        
        .top-all-stories div h2 a {
            font-size: 1.8em;
            color: black;
            text-decoration: none;
            text-transform: capitalize;
        }
        
        .top-all-stories div h2 :hover,
        .aside-stories div h2 :hover,
        .big-one h2 :hover,
        .aside2-stories div h2 :hover {
            color: red;
            transition: 0.5s;
        }
        
        .top-all-stories div h6 {
            font-size: 1em;
        }
        
        .top-all-stories div p {
            font-size: 1em;
            text-transform: capitalize;
        }
        /* top stories quary starts  */
        
        @media screen and (max-width: 800px) {
            .all-stories {
                display: grid;
                grid-template-columns: 1fr;
                margin: 2em 1em;
                align-items: center;
                justify-content: center;
            }
            .top-all-stories {
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
            }
            .all-stories-img {
                width: 200px;
                height: 100px;
            }
            .top-all-stories div h2 {
                font-size: 1em;
                line-height: 1.7em;
            }
            .top-all-stories div h6 {
                font-size: 0.9em;
            }
        }
        /* top stories quary ends  */
        /* top stries ends */
        /* aside stories starts  */
        
        .aside {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            justify-content: center;
        }
        
        .aside-stories {
            display: flex;
            gap: 0.3em;
        }
        
        .aside-img {
            width: 8em;
            height: 8em;
        }
        
        .aside div div {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        
        .aside div div h2 a {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
        }
        /* aside quary starts */
        
        @media screen and (max-width: 800px) {
            .aside {
                margin-top: 2em;
            }
            .aside-stories {
                display: flex;
                flex-direction: row;
                gap: 2em;
                text-align: left;
                margin-top: 0;
                margin-bottom: 0;
            }
            .aside-stories-text-contnr {
                display: flex !important;
                gap: 1em !important;
            }
            .aside div div h2 a {
                font-size: 0.5em;
            }
            .aside div div h2 {
                line-height: 0.6em;
                margin-bottom: 0.5em;
            }
            .aside-img {
                width: 5em;
                height: 5em;
            }
            .mini {
                font-size: 0.5em !important;
            }
            /* .aside div div {
                align-items: center;
            } */
            .aside div div p {
                font-size: 0.8em;
            }
        }
        /* aside quary ends */
        /* aside quary ends */
        /* other news starts  */
        
        .other-news {
            display: grid;
            overflow: hidden;
            grid-template-columns: 2fr 1fr;
            gap: 3em;
            margin: 5em;
        }
        
        .news-container h2 {
            text-transform: capitalize;
            font-size: 2em;
            text-decoration: underline;
            height: 25px;
            border-bottom: 1px rgb(155, 155, 155) solid;
        }
        
        .big-one {
            text-align: center;
            margin: 0 2em 0 2em;
        }
        
        .big-one img {
            margin-top: 2em;
            width: 500px;
            height: 300px;
        }
        
        .big-one h2 a {
            text-decoration: none;
            color: black;
            font-size: 1.4em;
            text-transform: capitalize;
            margin-top: 1em;
        }
        
        .big-one-text {
            margin-top: 1em;
            font-size: 1.2em;
            margin-bottom: 1em;
        }
        
        .big-one p i {
            margin-top: 1em;
            text-transform: capitalize;
            font-size: 1em;
        }
        
        .aside2-stories {
            display: flex;
            margin-top: 2em;
            gap: 1em;
        }
        
        .aside2-img {
            width: 8em;
            height: 8em;
        }
        
        .aside2-stories div h2 a {
            text-decoration: none;
            text-transform: capitalize;
            color: black;
        }
        /* others news quary starts  */
        
        @media screen and (max-width: 800px) {
            .other-news {
                grid-template-columns: 350px;
                gap: 3em;
                margin-top: 6em !important;
                margin: 0.3em;
            }
            .news-container h2 {
                text-transform: capitalize;
                font-size: 1em;
                text-decoration: underline;
                height: 13px;
                border-bottom: 1px rgb(155, 155, 155) solid;
            }
            .big-one {
                text-align: center;
                margin: 0 0 0 0;
            }
            .big-one div {
                width: 330px;
            }
            .big-one img {
                margin-top: 2em;
                width: 300px;
                height: 200px;
            }
            .big-one h2,
            .aside2-stories div h2 {
                line-height: 0.8em;
            }
            .big-one h2 a {
                font-size: 0.8em;
                text-transform: capitalize;
                margin-top: 1em;
            }
            .big-one-text {
                margin-top: 1em;
                font-size: 0.7em;
                margin-bottom: 1em;
            }
            .aside2-img {
                width: 5em;
                height: 5em;
            }
            .aside2-stories div h2 a {
                font-size: 0.7em;
            }
            .aside2-stories div p {
                font-size: 0.7em;
            }
        }
        /* others news quary ends  */
        /* others news ends  */
        /* footer css starts  */
        
        footer {
            overflow: hidden;
        }
        
        .business {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2em;
            text-align: center;
            align-items: baseline;
            margin: 4em;
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 1em;
        }
        
        .subscribe p,
        .team p,
        .advertise p {
            text-transform: capitalize;
            font-size: 1.3em;
            margin-bottom: 1em;
        }
        
        .subscribe-contnr {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        
        .subscribe-contnr input {
            padding: 0.4em;
            margin: 0 1em 0 7em;
        }
        
        .button a {
            font-size: 1.3em;
            padding: 0.5em;
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            border: none;
            font-weight: 900;
            background-color: rgb(179, 0, 0);
        }
        
        .button :hover {
            color: black;
            background-color: white;
            transition: 0.5s;
        }
        
        .footer {
            border-top: 1px rgb(136, 132, 132) solid;
            margin: 1em;
            text-align: center;
            text-transform: capitalize;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        
        .footer-div-1 {
            display: flex;
            align-items: center;
            gap: 1em;
        }
        
        .oluwaferanmi {
            text-transform: capitalize;
            font-weight: 700;
        }
        
        .oluwaferanmi a {
            text-decoration: none;
            color: rgb(25, 85, 25);
        }
        
        .oluwaferanmi :hover {
            color: red;
            transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
        }
        
        @media screen and (max-width: 800px) {
            .subscribe p,
            .team p,
            .advertise p {
                font-size: 0.7em;
            }
            .business h6 {
                margin-top: 1em;
                margin-bottom: 2em;
            }
            .subscribe h6 a,
            .team h6 a,
            .advertise h6 a {
                font-size: 0.8em;
                padding: 0.5em;
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                border: none;
                font-weight: 600;
                background-color: rgb(179, 0, 0);
            }
            .subscribe-contnr {
                display: block;
            }
            .subscribe-contnr input {
                padding: 0.4em;
                margin: 0 0 0 0;
                color: white;
            }
            .business {
                display: block;
                gap: 2em;
                text-align: center;
                align-items: baseline;
                margin: 2em;
                background-color: rgb(0, 0, 0);
                color: white;
                padding: 0.5em;
            }
            .footer {
                display: block;
                text-align: center;
                justify-content: center;
            }
            .footer h2 {
                text-align: center;
            }
            .footer p,
            .oluwaferanmi {
                font-size: 0.5em;
            }
        }
        /* footer css ends  */